<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../static/images/advert.jpg" class="d-block w-100 img-fluid" alt="slide1">
      </div>
      <div class="carousel-item">
          <img src="../static/images/advert1.jpg" class="d-block w-100 img-fluid" alt="slide2">
      </div>
      <div class="carousel-item">
          <img src="../static/images/advert2.jpg" class="d-block w-100 img-fluid" alt="slide3">
      </div>
      <div class="carousel-item">
          <img src="../static/images/advert3.jpg" class="d-block w-100 img-fluid" alt="slide4">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
<style>
.carousel-inner img {
  max-height: 80vh; /* Limit height to 80% of viewport height */
  object-fit: cover; /* Ensures the image covers the entire space */
}
</style>